<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small " >Welcome to Djongo-Exchange</span><br>

    <span class="w3-large">A totally free bitcoin exchange platform.</span>
    <p><a href="#about" class="w3-button w3-khaki w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
  </div>
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity" href="https://www.facebook.com/groups/1536160093204630"></i>
    <i class="fa fa-github w3-hover-opacity" href="https://github.com/feranmi-oj"></i>
    <i class="fa fa-linkedin w3-hover-opacity" href="https://www.linkedin.com/in/feranmi-ojo-1aaaa91b0/"></i>
  </div>
</header>

<!-- About Section -->
<div class="w3-container w3-khaki" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT DJONGO-EXCHANGE</h3>
  <p class="w3-center w3-large">Main features of Djongo-Exchange</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Responsive</p>
      <p>Django-Exchange is a responsive platform where dynamic contents change, images are resized and spaces take the right shape according to needs.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Bitcoin gift</p>
      <p>The platform at the time of registration gives each user a random amount of bitcoins ranging from 1 to 10</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-bars w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">MongoDB</p>
      <p>MongoDB is a non-relational, document-oriented DBMS that offers scalability and flexibility</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-usd w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Free</p>
      <p>  The platform in question is totally free for users and does not withhold any type of commission on operations.</p>
    </div>
  </div>
</div>
