<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card" id="myNavbar">
    <a href="{%url 'app:home'%}" class="w3-bar-item w3-button w3-wide">DJONGO-EXCHANGE</a>
    <!-- Right-sided navbar links -->
    {% if user.is_authenticated %}
      <div class="w3-right w3-hide-small">
        <a href="https://coinmarketcap.com/currencies/bitcoin/" class="w3-bar-item w3-button">  Bitcoin BTC live-price : {{currency}}<i class="fa fa-usd"></i></a>
        <a href="#about" class="w3-bar-item w3-button"> ABOUT</a>
        <a href="{%url 'app:sell'%}" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> SELL-BITCOINS</a>
        <a href="{%url 'app:buy'%}" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> BUY-BITCOINS</a>
        <a href="{%url 'accounts:profile' user.pk %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> {{user.username}}</a>
        <a href="{% url 'accounts:logout'%}" class="w3-bar-item w3-button"><i class="fa fa-toggle-off"></i> LOGOUT</a>
      </div>
    {%else%}
      <div class="w3-right w3-hide-small">
         <a href="https://coinmarketcap.com/currencies/bitcoin/" class="w3-bar-item w3-button">  Bitcoin BTC live-price : {{currency}}<i class="fa fa-usd"></i></a>
        <a href="#about" class="w3-bar-item w3-button"> ABOUT</a>
        <a class="w3-bar-item w3-button" href="{% url 'accounts:login'%}"><i class="fa fa-toggle-on"></i>Login</a>
        <a class="w3-bar-item w3-button" href="{% url 'accounts:register'%}"><i class="fa fa-pencil"></i>Registration</a>
      </div>
    {%endif%}
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->


  </div>
</div>